.card-img-top {
  height: 300px;
}

.card-img-top-index {
  height: 200px;
}

.card-body {
  position: relative;
}

.qrcode {
  width: 200px;
  height: 200px;
  background-image: url("QRCode_perriplan.png");
  background-size: contain;
  // background-color: aquamarine;
  position: absolute;
  right: 0;
  bottom: 0;
}

.checkout {
  margin-left: 110px;
}
