<div class="footer">
  <div>
    <p>Sign up for doggie adventure ideas, updates, and offers</p>
  </div>
  <div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
  <div>
    <div class="footer-copyright">
      <p>Copyright © 2023 PerriPlan Doggie Corp</p>
      <p>All Rights Reserved.</p>
      <strong>This site uses cookies</strong>
    </div>
  </div>
</div>
