<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/id/1155030342/photo/dog-travel-by-car.webp?b=1&s=170667a&w=0&k=20&c=eNS7OiN-Si03Wo49u-XXGTCvxJmkIc4C4QrOU3p8chE=);">
    <div class="container">
      <h1>PerriPlan makes travelling with your little buddy easier!</h1>
      <p>Travel the world in peace knowing your peluche is welcomed</p>
    </div>
  </div>
  <div class="container">
    <div class="my-3 cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1611003228941-98852ba62227?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmFieSUyMGRvZ3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80)">
        Rupert
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2017/11/20183655/German-Pinscher-standing-near-a-lake.jpg)">
        Rufus
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1xw:0.74975xh;center,top&resize=1200:*)">
        Mutley
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAAKNz1-J7ZuylwM9AJ7wWztDXXmSWvirbWQ&usqp=CAU)">
        Duke
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1388796467/photo/adorable-young-bichon-frise-puppy-walks-around-the-sunny-spring-lawn-active-cute-puppy.jpg?s=612x612&w=0&k=20&c=HxqL0MxV-whnGOU_tgnTYC9Ajj0m77iorASymQqYQ1w=)">
        Binny
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ39E-qztdLhp_9_67M1PwGi0cVJZiewthBAA&usqp=CAU)">
        Smokey
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTWu5meYDlGASCjdmSLMYSL_cM8LdwLUgcfA&usqp=CAU)">
        Snowball
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hips.hearstapps.com/hmg-prod/images/lifestyle-bestdogbreeds-1577128927.png?crop=1.00xw:1.00xh;0,0&resize=1200:*)">
        Buddy
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo8EI_ZzLQDfMkZ5mLQaQLfUwb_dgPDK8PKQ&usqp=CAU)">
        Rocky
      </div>
    </div>
    <div class="justify-content-between my-5 text-center container-info">
      <h2 class="my-3">Why should you use BarkBuddy?</h2>
      <div class="d-flex justify-content-between my-3">
        <div class="my-3 col-lg-4">
          <h3>Community</h3>
          <p>Join similar minded people in your local area who are part of BarkBuddy</p>
        </div>
        <div class="my-3 col-lg-4">
          <h3>Safety</h3>
          <p>Know that you're using a platform where dog-sitters are vetted and have passed a safety check</p>
        </div>
        <div class="my-3 col-lg-4">
          <h3>Good Vibes</h3>
          <p>By being part of BarkBuddy, know that you're sharing the love of taking care of dogs</p>
        </div>
      </div>
      <div class="justify-content-center">
        <%# <%= link_to "Meet the dogs in your area!", dogs_index_path, class: "btn btn-info my-3 col-sm-3" %>
      </div>
    </div>
  </div>
</div>
