// Import page-specific CSS files here.

.smol-card-component {
  --img-ratio: 3/2;

  display: flex;
  flex-direction: column;
  /* Supported for flexbox in modern browsers since April 2021 */
  gap: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  border-radius: 0.5rem;
}

.smol-card-component > img {
  aspect-ratio: var(--img-ratio);
  object-fit: cover;
  width: 100%;
}

.smol-card-component > img:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

.smol-card-component > img:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: auto;
}

.smol-card-component > :not(img) {
  margin-left: 1rem;
  margin-right: 1rem;
}

.smol-card-component > :not(img):first-child {
  margin-top: 1rem;
}

/* Enhanced `:not()` accepts a selector list,
but as a fallback you can chain `:not()` instead */
.smol-card-component > :last-of-type:not(img, h2, h3, h4) {
  margin-bottom: 1rem;
}

.smol-card-component > :not(h2, h3, h4) {
  font-size: 0.9rem;
}

.smol-card-component > a {
  align-self: start;
}

.sticky-map {
  position: sticky;
  top: 100px;
}

.smol-card-component-copy {
  min-height: 90px;
}

body {
  font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
text-decoration: none;
}

.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 30vh;
  position: sticky;
  background: #eee;
  text-align: center;
  h1 {
      font-size: 3rem;
      margin: 20;
      letter-spacing: 1rem;
      font-family: "Century Gothic", 'Lato', sans-serif;
  }
  h3 {
      font-size: 2rem;
      letter-spacing: 0.3rem;
      opacity: 0.6;
      font-family: "Century Gothic", 'Lato', sans-serif;
  }
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
  &--top {
      position: fixed;
      top: 0;
  }
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  &:hover {
    color:white;
    background: rgba(102,177,241,0.8);
    transition: all 0.5s ease;
  }
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
.et-hero-tabs,
.et-slide {
  h1 {
      font-size: 1rem;
      font-family: "Century Gothic", 'Lato', sans-serif;
  }
  h3 {
      font-size: 1rem;
      font-family: "Century Gothic", 'Lato', sans-serif;
  }
}
.et-hero-tab {
  font-size: 1rem;
}
}
