.hotel-info {
  margin-top: 5rem !important;
}

.hotel-info img {
  border-radius: 5px;
}

.hotel-info a {
  padding: 6px 8px;
  background: #f87474;
}

.bookBtn {
  width: 6rem;
 margin-bottom: 30px;
}
