.navbar-perriplan {
  justify-content: space-between;
  background: white;
}

.navbar-perriplan .navbar-collapse {
  flex-grow: 0;
}

.navbar-perriplan .navbar-brand img {
  width: 80px;
}

#btnsearch {
  border: 1px solid black;
}

.brand {
  font-size: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
}
